# Fyers API Credentials
fyers_app_id=YOUR_APP_ID
fyers_app_type=YOUR_APP_TYPE
fyers_secret_key=YOUR_SECRET_KEY
fyers_id=YOUR_FYERS_ID
fyers_totp_key=YOUR_TOTP_KEY
fyers_userpin=YOUR_PIN

# Telegram Bot Configuration (Optional)
telegram_bot_token=YOUR_BOT_TOKEN
telegram_chat_id=YOUR_CHAT_ID

# Note: Rename this file to .env and replace the placeholder values with your actual credentials 